extends template
block content
    header.header
        .row
            .grid-4
                h1
                    a(href="#")=title
    .description
        .row
            .grid
                p.message #{title} help you convert a HTML snippet to a Jade snippet.
    main.main
        .row
            .grid-6
                fieldset
                    label(for="c1") Grouped
                    span.checkbox
                        span
                            input#bodyless(type="checkbox")
                            label(for="bodyless") Bodyless
                        span
                            input#noattrcomma(type="checkbox")
                            label(for="noattrcomma") No commas in attributes
            .grid-6
                fieldset.fieldset--right#tabs-or-space
                    label(for='text') Indents
                    span.radio.toggle
                        span.positive
                            input#spaces(type='radio' checked='checked' name="tabs")
                            label(for='spaces')
                                span Spaces
                        span.positive
                            input#tabs(type='radio' name="tabs")
                            label(for='tabs')
                                span Tabs
                .row.row--align-right
                    .grid-1
                        fieldset#spaceValueField
                            label(for="spaceValue") Spaces
                            input#spaceValue(type="text" name="text" placeholder="" tabindex="1" value="4")
        .row.inputs
            .grid-6
                .h3 HTML
                #html.ace
            .grid-6
                .h3 JADE
                #jade.ace
        .row.row--align-center
            .grid.button-center
                button#convert.btn.btn--color-default.btn--size-l Convert
    footer.footer
        .row.row--align-center.message
            .grid
                p made by #[a(href="https://github.com/edDimensi/html2pug") dimensi]
            .grid.footer__right
                p made it with #[a(href="http://expressjs.com/") express], #[a(href="https://github.com/donpark/html2jade") html2jade], #[a(href="https://pugjs.org/api/getting-started.html") pug]
