doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        title #{title} - convert your html code to jade
        meta(name='description', content='Convert HTML to PUG')
        meta(name='author', content='DimenSi')
        // Mobile Specific Metas
        //-meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        // CSS
        link(rel='stylesheet', href='css/amazium.css')
        link(rel='stylesheet', href='css/style.css')
        // Favicons
        link(rel='shortcut icon', href='img/favicon.ico')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/ace.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
    body
        block content
        script(src="js/main.js")
